.logo{
    border-radius: 50px;
    width: 150px;
}
h1{
    text-align: center;
}
.recomendaciones{
    background-color:white;
    border-style: groove;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.banner{
    height: 320px;
    width: 100%;
}
.presentacion img{
    height: 350px;
    width: 250px;
}



